@tailwind base;
@tailwind components;
@tailwind utilities;


.react-flow .react-flow__edge path,
.react-flow__connectionline path {
    stroke-width: 2;
    stroke: black;
}

/* //NOTE: Scrollbar design */
.scrollbar::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d9d9d9;
}
